## EXERCICE 3 (Chapitre 1)

In [1]:
import psycopg2

# Connect to PostgreSQL database
conn = psycopg2.connect(dbname="new_db", user="postgres", password="root", host="localhost", port="5432")

# Create a cursor object
cur = conn.cursor()

# Define functions to execute queries and fetch results
def execute_query(query):
    cur.execute(query)
    return cur.fetchall()

# 1. Average age of customers
query_1 = "SELECT AVG(age) FROM bank_full;"
average_age = execute_query(query_1)[0][0]
print("1. Average age of customers:", average_age)

1. Average age of customers: 40.9362102143283714

In [2]:
# 2. Number of customers who defaulted on loans
query_2 = "SELECT COUNT(*) FROM bank_full WHERE default_ = 'yes';"
defaulted_customers = execute_query(query_2)[0][0]
print("2. Number of customers who defaulted on loans:", defaulted_customers)

2. Number of customers who defaulted on loans: 815

In [3]:
# 3. Maximum balance in the account
query_3 = "SELECT MAX(balance) FROM bank_full;"
max_balance = execute_query(query_3)[0][0]
print("3. Maximum balance in the account:", max_balance)

3. Maximum balance in the account: 102127

In [4]:
# 4. Number of customers with a housing loan
query_4 = "SELECT COUNT(*) FROM bank_full WHERE housing = 'yes';"
housing_loan_customers = execute_query(query_4)[0][0]
print("4. Number of customers with a housing loan:", housing_loan_customers)

4. Number of customers with a housing loan: 25130

In [5]:
# 5. Education level of the youngest customer
query_5 = "SELECT education FROM bank_full WHERE age = (SELECT MIN(age) FROM bank_full);"
education_youngest_customer = execute_query(query_5)[0][0]
print("5. Education level of the youngest customer:", education_youngest_customer)

5. Education level of the youngest customer: primary

In [6]:
# 6. Marital status of the oldest customer
query_6 = "SELECT marital FROM bank_full WHERE age = (SELECT MAX(age) FROM bank_full);"
marital_oldest_customer = execute_query(query_6)[0][0]
print("6. Marital status of the oldest customer:", marital_oldest_customer)

6. Marital status of the oldest customer: divorced

In [7]:
# 7. Distribution of the months in which customers were last contacted
query_7 = "SELECT month, COUNT(*) FROM bank_full GROUP BY month;"
months_distribution = execute_query(query_7)
print("7. Distribution of the months in which customers were last contacted:")
for month, count in months_distribution:
    print(month, ":", count)

7. Distribution of the months in which customers were last contacted:
oct : 738
apr : 2932
jul : 6895
may : 13766
jan : 1403
nov : 3970
dec : 214
aug : 6247
jun : 5341
mar : 477
sep : 579
feb : 2649

In [8]:
# 8. Average duration of contact for customers with a personal loan
query_8 = "SELECT AVG(duration) FROM bank_full WHERE loan = 'yes';"
avg_contact_duration_loan = execute_query(query_8)[0][0]
print("8. Average duration of contact for customers with a personal loan:", avg_contact_duration_loan)

8. Average duration of contact for customers with a personal loan: 250.8453892876863611

In [9]:
# 9. Number of customers previously contacted and their average duration of last contact
query_9 = "SELECT COUNT(*), AVG(duration) FROM bank_full WHERE previous > 0;"
contacted_count_avg_duration = execute_query(query_9)[0]
print("9. Number of customers previously contacted:", contacted_count_avg_duration[0])
print("   Average duration of their last contact:", contacted_count_avg_duration[1])

9. Number of customers previously contacted: 8257
   Average duration of their last contact: 260.1186871745185903

In [10]:
# 10. Distribution of job types among customers
query_10 = "SELECT job, COUNT(*) FROM bank_full GROUP BY job;"
job_distribution = execute_query(query_10)
print("10. Distribution of job types among customers:")
for job, count in job_distribution:
    print(job, ":", count)

10. Distribution of job types among customers:
retired : 2264
housemaid : 1240
admin. : 5171
management : 9458
blue-collar : 9732
entrepreneur : 1487
services : 4154
technician : 7597
unknown : 288
self-employed : 1579
student : 938
unemployed : 1303

In [11]:
# 11. Number of customers contacted more than once in the current campaign
query_11 = """
           SELECT COUNT(*)
           FROM (
               SELECT COUNT(*) AS contact_count
               FROM bank_full
               GROUP BY contact
               HAVING COUNT(*) > 1
           ) AS repeated_contacts_subquery;
           """
repeated_contacts = execute_query(query_11)[0][0]
print("11. Number of customers contacted more than once in the current campaign:", repeated_contacts)

11. Number of customers contacted more than once in the current campaign: 3

In [12]:
# 12. Success rate of previous marketing campaigns (poutcome) among customers
query_12 = "SELECT poutcome, COUNT(*) FROM bank_full GROUP BY poutcome;"
poutcome_distribution = execute_query(query_12)
print("12. Success rate of previous marketing campaigns (poutcome) among customers:")
for poutcome, count in poutcome_distribution:
    print(poutcome, ":", count)

12. Success rate of previous marketing campaigns (poutcome) among customers:
other : 1840
failure : 4901
unknown : 36959
success : 1511

In [ ]:
# Close cursor and connection
cur.close()
conn.close()